@value colors: "../../App.css";
@value secondaryTheme from colors;

.cardHeading {
    align-self: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.fillFormButton {
    background-color: secondaryTheme;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.fillFormButton:hover {
    box-shadow: 0 0 5px 2px gray;
}

.userCard {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px gray;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 24px;
}

.userCardContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
}


.userDetailRow {
    margin: 5px 0;
}

@media (max-width: 390px) {
    .userCard {
        padding: 16px;
    }

    .userDetailRow {
        font-size: 14px;
    }
}

@media (max-width: 340px) {
    .userCard {
        padding: 4px;
    }

    .userDetailRow {
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .userCard {
        padding: 2px;
    }

    .userDetailRow {
        font-size: 10px;
    }
}